---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Resume from '../components/ResumeRE.astro'

---

<Layout title="Resident Evil 2">
	<Header />
	<main class="w-full">
		<Resume />
	</main>
</Layout>

