---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Resume from '../components/ResumeRE.astro'
import Chars from '../components/MainChars.astro'
import Gallery from '../components/Gallery.astro'
import Footer from '../components/Footer.astro'


---

<Layout title="Resident Evil 2">
	<Header />
	<main class="w-full">
		<Resume />
		<Chars />
		<Gallery />
		<Footer />
	</main>
</Layout>

