---

---

<footer class="h-screen flex flex-col w-full">
    <div
        class="w-full h-2/3 bg-red-100 bg-custom-wallpaper flex flex-col items-center"
    >
        <p>Resident Evil 2</p>
        <p>Remake</p>
    </div>

    <div class="w-full h-1/3 bg-footer-color">
        <div
            class="w-5/6 m-auto h-full flex justify-between py-8 footer-titles"
        >
            <div class="w-1/4">
                <h3>Title</h3>
                <a href="#">Characters</a>
                <a href="#">Gameplay</a>
            </div>
            <div class="w-1/4">
                <h3>News</h3>
                <a href="#">Characters</a>
                <a href="#">Gameplay</a>
            </div>
            <div class="w-1/4">
                <h3>Suppoert</h3>
                <a href="#">Characters</a>
                <a href="#">Gameplay</a>
            </div>
            <div class="w-1/4">
                <h3>Follow Us</h3>
                <a href="#">Characters</a>
                <a href="#">Gameplay</a>
            </div>
        </div>
    </div>
</footer>

<style>
    .social-media svg {
        width: 30px;
    }
    .social-media h3 {
        color: #fff;
    }

    .facebook {
        color: #1877f2;
    }
    .instagram {
        color: #c32aa3;
    }
    .youtube {
        color: #ff0000;
    }
    .linkedin {
        color: #0a66c2;
    }
    .white {
        color: #fff;
    }

    .bg-capcom-logo {
        width: 240px;
        height: 43px;
        position: absolute;
        background-image: url("https://raw.githubusercontent.com/wesley-moraes/resident-evil-2-landingpage/main/public/img/footer/capcom-logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bg-custom-wallpaper {
        background-image: url("../../public/img/raccoon-city/raccon-city-footer.png");
        background-position: -5px;
        color: #fff;
    }

    .footer-titles {
        background-color: #171817;
        color: #fff;
    }
    .footer-titles > div {
        padding-left: 4%;
    }

    .footer-titles h3 {
        font-size: 2.1em;
    }

    .bg-footer-color {
        background-color: #171817;
    }

    .bg-custom-wallpaper p:nth-child(1){
        font-size: 6em;
        margin-top: 70px;
    }

    .bg-custom-wallpaper p:nth-child(2){
        font-size: 4.5em;
        
    }
</style>
