---


---

<footer class="h-90 flex w-full border-green-400 bg-yellow-950 flex-col" >
    <div class="h-screen w-full flex">
        <div class="w-full self-center flex border border-yellow-500 h-96">
            <div class="grow-[1] border border-red-700">div 1</div>
            <div class="grow-[1] border border-red-700">div 2</div>
            <div class="grow-[1] border border-red-700">
                <p></p>
            </div>
        </div>

        
    </div>
    <div class="h-10 w-full border border-yellow-500 text-center"><p>Todos os direitos reservados</p></div>

    
</footer>