---

---

<section class="w-full h-screen">
    <div class="w-full h-screen">
        <div id="leon" class="w-full h-1/2 border border-rose-600">
            <div>
                <h3> Leon Scott Kenedy </h3>
                <p> <span>Nascimento:</span> <span> 1977 </span> </p>
                <p> <span>Altura:</span> <span> 1,80 </span> </p>
                <p> <span>Afiliações:</span> <span> RPD </span> </p>
            </div>
        </div>
        <div id="Claire" class="w-full h-1/2 border border-rose-300">
            <div>
                <h3> Claire Redfield </h3>
                <p> <span>Nascimento:</span> <span> 1979 </span> </p>
                <p> <span>Altura:</span> <span> 1,69 </span> </p>
                <p> <span>Afiliações:</span> <span> Terra Save </span> </p>
            </div>
        </div>
    </div>

</section>

<style>
    #leon{
        background-image: url("../img/chars/Leon-S-Kennedy.png");
        background-position: -400px;
    }


</style>