---

---
<section class="w-full bg-black flex">
    
    <div class="flex-row">
        <div class="flex  justify-center">
            <div class="w-4/5 mt-9 mb-10 text-white ">
                <h1 class="text-3xl"><span class="text-red-700">R</span>esident <span class="text-red-700">E</span>vil 2 Remake</h1>
                <h2 class="mb-3">Uma Jornada Arrepiante pela Recriação do Clássico</h2>

                <p class="text-sm">lançado em 2019, é uma recriação intensa e aprimorada do clássico de survival horror lançado em 1998. 
                        Desenvolvido pela Capcom, o jogo mergulha os jogadores na assustadora cidade de Raccoon City, 
                        agora reimaginada com visuais de alta qualidade, mecânicas de jogabilidade modernas e 
                        uma narrativa mais envolvente.</p>
            </div>
        </div>
        <div class="w-full pb-8 overflow-hidden flex items-center justify-center">
            <div class="border-white ">
                <img src="./img/raccoon-city/wellcome-sign-raccoon-city.jpg"/>
            </div>
        </div>
    </div>
    
</section>
    <div></div>