---

---
<section class="h-screen w-full bg-black flex">
    <div class="flex-row">
        <div class="w-4/5 h-3/6 mt-11 ml-4 text-white">
            <h1 class="text-3xl"><span>R</span>esident <span>E</span>vil 2 Remake</h1>
            <h2 class="mb-3">Uma Jornada Arrepiante pela Recriação do Clássico</h2>

            <p>lançado em 2019, é uma recriação intensa e aprimorada do clássico de survival horror lançado em 1998. 
                Desenvolvido pela Capcom, o jogo mergulha os jogadores na assustadora cidade de Raccoon City, 
                agora reimaginada com visuais de alta qualidade, mecânicas de jogabilidade modernas e 
                uma narrativa mais envolvente.</p>
        </div>
        <div class="w-full h-2/6 overflow-hidden">
            <div class="border-white ">
                <img src="./img/raccoon-city/wellcome-sign-raccoon-city.jpg"/>
            </div>
        </div>
    </div>
</section>